%section.hero#services
  .hero-body
    .container
      %h1.title= t('services.title')
      %p= t('services.description')

  .hero-body
    .container.has-text-centered
      .columns.is-centered{:style => "padding: 2rem"}
        .column
          .card
            .card-image
              %figure.image.is-2by1
                %img{:alt => "Placeholder image", :src => "https://images.pexels.com/photos/167635/pexels-photo-167635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"}/
            .card-content
              .media
                .media-content
                  %p.title.is-4 John Smith
                  %p.subtitle.is-6 @johnsmith
              .content
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                = succeed "." do
                  %a @bulmaio
                %a{:href => "#"} #css
                %a{:href => "#"} #responsive
        .column
          .card
            .card-image
              %figure.image.is-2by1
                %img{:alt => "Placeholder image", :src => "https://images.pexels.com/photos/167635/pexels-photo-167635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"}/
            .card-content
              .media
                .media-content
                  %p.title.is-4 John Smith
                  %p.subtitle.is-6 @johnsmith
              .content
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                = succeed "." do
                  %a @bulmaio
                %a{:href => "#"} #css
                %a{:href => "#"} #responsive
        .column
          .card
            .card-image
              %figure.image.is-2by1
                %img{:alt => "Placeholder image", :src => "https://images.pexels.com/photos/167635/pexels-photo-167635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"}/
            .card-content
              .media
                .media-content
                  %p.title.is-4 John Smith
                  %p.subtitle.is-6 @johnsmith
              .content
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                = succeed "." do
                  %a @bulmaio
                %a{:href => "#"} #css
                %a{:href => "#"} #responsive
