%nav#navbar.navbar.has-shadow
  .container
    .navbar-brand
      %a.navbar-item{:href => "/"}
        =image_tag("autotransportes_balderas.png", class: 'logo-brand', alt: "Autotransportes Balderas")
      #navbarBurger.navbar-burger.burger{"data-target" => "navMenu"}
        %span
        %span
        %span
    #navMenu.navbar-menu
      .navbar-end
        %a.navbar-item.is-active{:href => "/"}
          %div{:style => "position:relative"}
            %span.icon
              %i.fa.fas.fa-home
            %span= t('navbar.home')

        %a.navbar-item{:href => "/#about_us"}
          %div{:style => "position:relative"}
            %span.icon
              %i.fa.fas.fa-users
            %span= t('navbar.about_us')

        %a.navbar-item{:href => "/#services"}
          %div{:style => "position:relative"}
            %span.icon
              %i.fa.fas.fa-truck
            %span= t('navbar.services')
        %a.navbar-item{:href => "https://medium.com/@LuisOsnet", target: "_blank"}
          %div{:style => "position:relative"}
            %span.icon
              %i.fa.fas.fa-rss
            %span= t("navbar.blog")

        %a.navbar-item{:href => "/#contact"}
          %div{:style => "position:relative"}
            %span.icon
              %i.fa.far.fa-envelope
            %span= t('navbar.Contacto')
